<html>
    <head>
        <script src="https://unpkg.com/tone"></script>
        <script>
            const synth = new Tone.Synth().toDestination();
            window.onload = () => {
                const playButton = document.getElementById("playButton");
                playButton.addEventListener("click", () => {
                    synth.triggerAttackRelease("C4", "8n");
                });
                const fetchButton = document.getElementById("fetchButton");
                let counter = 0;
                fetchButton.addEventListener("click", () => {
                    fetchFromBackend("Hello back there! #" + counter);
                    counter++;
                });
                function fetchFromBackend(text) {
                    const hello = fetch(`https://surprisal.onrender.com/process/?text=${text}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                            },
                        body: JSON.stringify({text: text})
                    })
                        .then(response => response.json())
                        .then(data => {
                            data.forEach(element => {
                                document.getElementById("result").innerHTML += element.toString() + "<br>";
                            });
                        });
                }
                fetchFromBackend("Hello back there!");
            };
        </script>
    </head>
    <body>
        <h1>Index.html</h1>
        <button id="playButton">Play Sound</button>
        <button id="fetchButton">Fetch from Backend</button>
        <div id="result">

        </div>
    </body>
</html>